.header{
    margin-top: 6px;
    display: flex;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logo img{
    width: 34.076px;
    height: 50px;
}

.logo h1{
    color: #1E1E1E;
    font-family: UniversityRoman;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.menu{
    display: flex;
    gap: 96px;
    align-items: flex-end;
}

.menu li {
    list-style-type: none;
}

.menu a{
    color: #1E1E1E;
font-family: Montserrat Alternates;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
cursor: pointer;
}

.header_icons{
    margin-left: 123px;
    display: flex;
    gap: 27px;
    align-items: flex-end;
}

.header_icons img{
    width: 24px;
    height: 26px;
}